extend layout

block content 
    .container-margin
      each item in result
          .row
            .col-lg-12
          
            h2.page-header3
                | Details for #{item.action}
          .row
            .col-lg-6.col-xs-12
              .card-group1
                .card
                 .card-block
                  h5.span1 Organizer 
                  h4 #{item.name}
                  h5.span1 Date
                  h4 #{item.date}
                  h5.span1 Location 
                  h4 #{item.location}
                  h5.span1 Description 
                  h4 #{item.description}
