extend layout

block content 
    .container-margin
      each item in result
          .row
            .col-lg-12
          
            h2.page-header3
                | Details for #{item.action}
          .row
            .col-lg-12
            
              .card-group1.col-lg-7
                .card
                 .card-block
                  h5.span1 Organizer
                  hr
                  h4.card-text3 #{item.name}
                  h5.span1 Date
                  hr
                  h4.card-text3 #{item.date}
                  h5.span1 Location 
                  hr
                  h4.card-text3 #{item.location}
                  h5.span1 Description
                  hr
                  h4.card-text3 #{item.description}
            
            .row
              .col-lg-12    
